<header>
    <a href="{{ path('main_index') }}" class="title">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo BeerTime">
        BeerTime
    </a>

    <nav>
        <ul>
            <li>
                <a href="{{ path('event_list') }}">Nos événements</a>
            </li>
            <li>
                <a href="{{ path('main_about') }}">A propos</a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="account">
        <a href="#">
            Connexion
        </a>
    </div>
</header>